html,body{
  font-size: 25px;
  font-family: 'system-ui';
}

.container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding:50px;
}
header{
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  border-bottom: 1px solid black;
  margin-left:40px;
  margin-right: 40px;
}

#description{
  text-align: center;
  font-weight: 600;
}
#Quote-box{
  border: 2px solid #fff;
  border-radius: 5%;
  width:70%;
  padding:50px;
  background-color: rgba(255,255,255,1);

}
#author{
  float:right;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'system-ui';

}
button{
  padding: 10px;
  border-radius: 10%;
  background-color: #fff;
  border: 1px solid #000;
  margin: 5px;
  width:75px;
}
a:hover{
  background-color: rgb(222, 226, 232,0.8);
  cursor:pointer;
}
a{
  font-size: 0.75rem;
  text-align: center;
  padding: 20px;
  border-radius: 10%;
  background-color: #fff;
  border: 1px solid #000;
  margin: 5px;
  width:75px;
}

i {
  color:#1DA1F2;
}
