html,body{
  font-size: 25px;
  font-family: 'system-ui';
}
/*Sets the loading status onwhile a page loads*/
#isItLoaded {
  display: none;
}

#loading {
  position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
/*Animatation for loading icon*/
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

.container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding:50px;
}
header{
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  border-bottom: 1px solid black;
  margin-left:40px;
  margin-right: 40px;
}




#description{
  text-align: center;
  font-weight: 600;
}
#Quote-box{
  border: 2px solid #fff;
  border-radius: 5%;
  width:70%;
  padding:50px;
  background-color: rgba(255,255,255,1);

}
#author{
  float:right;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'system-ui';

}
button{
  padding: 10px;
  border-radius: 10%;
  background-color: #fff;
  border: 1px solid #000;
  margin: 5px;
  width:75px;
}
a:hover{
  background-color: rgb(222, 226, 232,0.8);
  cursor:pointer;
}
a{
  font-size: 0.75rem;
  text-align: center;
  padding: 20px;
  border-radius: 10%;
  background-color: #fff;
  border: 1px solid #000;
  margin: 5px;
  width:75px;
}

i {
  color:#1DA1F2;
}
